[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy = "*"
django = "*"
django-environ = "*"
celery = {extras = ["redis"], version = "*"}
django-mptt = "*"
adrf = "*"
crochet = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.1"
